@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="slide-container">
        <div class="Slides">
            <div class="numText"></div>
            <img class="images" src="https://ogden_images.s3.amazonaws.com/www.grit.com/images/2023/08/09152954/scrap-wood-birdhouses.jpg" />
            <div class="text"><p>Welcome to the home of creatotions, View all our products on our <i><a asp-area="" asp-page="Work" class="slide-link">My Work</a></i> Page.</p></div>
        </div>
        <div class="Slides">
            <div class="numText"></div>
            <img class="images" src="https://img.freepik.com/premium-photo/craftsman-s-workshop-create-artwork-depicting-well-equipped-organized-workshop_933496-53236.jpg" />
            <div class="text"><p>Our story is as inspiring as many creators, to read up about it go to the <i><a asp-area="" asp-page="About" class="slide-link">About Us</a></i> Page</p></div>
        </div>
        <div class="Slides">
            <div class="numText"></div>
            <img class="images" src="https://3.bp.blogspot.com/-TnPaGq0s73U/WP5UrcsOm_I/AAAAAAABl2M/SzcFqWtd-HodEI6ja6Oqrz8t-dNYsPwLgCLcB/w1200-h630-p-k-no-nu/hands-building-hands.jpg" />
            <div class="text"><p>To discuss how you can get your crafts on our website head to our <i><a asp-area="" asp-page="Contact" class="slide-link">Contact Us</a></i> Page</p></div>
        </div>
    </div>



</div>