@page
@model ST10258321_KhumaloCrafts.Pages.General.AboutModel
@{
}
<div class="about-container">
    <div class="about-para">
        <span class="para">
            <img class="para-img" src="https://th.bing.com/th/id/R.38234a7c8ee9e4e77f866084269ac404?rik=XXj46sk8ddozng&pid=ImgRaw&r=0" />
            <p class="p-content">
                Khumal Creations was created by James Khumalo. A Creator himself who believed that there wasn't enough platforms to display the works of Craftsmen.
                James' goal is to establish a global enterprise and platform to showcase handcrafted material giving craftsmen the credit they deserve.
            </p>
        </span>
        <hr class="underline" />
        <span class="para">
            <p class="p-content">
                Handcrafted goods hold a significant relevance and importance in today's world, offering a range of benefits that are often overlooked in mass-produced items.
                Firstly, handcrafted goods embody a sense of authenticity and uniqueness that is hard to replicate. Each piece is imbued with the artisan's skill, creativity,
                and passion, making it a truly one-of-a-kind creation.
                This uniqueness not only adds aesthetic value but also creates a deeper connection between the creator and the consumer, fostering a sense of appreciation for the craftsmanship involved.
            </p>
            <img class="para-img" src="https://www.thewowstyle.com/wp-content/uploads/2015/01/img_6469.jpg" />
        </span><hr class="underline" />
        <span class="para">
            <img class="para-img" src="https://projectkid.com/wp-content/uploads/2019/11/owl-craft-1-2-scaled.jpg" />
            <p class="p-content">
                Handcrafted goods often promote sustainability and ethical practices. Artisans who create handcrafted goods tend to use traditional techniques and natural materials,
                which are often more environmentally friendly than mass production methods. Additionally, buying handcrafted goods supports local artisans and small businesses, helping to
                preserve traditional crafts and promote economic diversity. Overall, the relevance
                and importance of handcrafted goods lie in their ability to offer unique, authentic, and sustainable alternatives to mass-produced items, enriching our lives with their beauty and
                craftsmanship.
            </p>
        </span>
    </div>
</div>

