@page
@model ContactModel
@{
}

<div class="contact-container">
    @*     <div class="form-div">
    <form class="form">
    <h2 class="form-heading">Contact Us...</h2>
    <input type="text" class="txtInput" placeholder="First Name"/><br /><br />
    <input type="text" class="txtInput" placeholder="Surname" /><br /><br />
    <input type="email" class="txtInput" placeholder="Email Address" /><br /><br />
    <textarea class="txtArea" placeholder="Your Message..."></textarea><br /><br />
    <input type="submit" class="submitBtn"/>
    </form>

    </div> *@
    <div class="con-div">
        <div class="con-details">
            <h2 class="form-heading">Contact Details</h2>
            <p class="p">
                <a class="fa material-icons">mail_outline</a> Email Address: <a class="con-link">st10258321@vcconnect.edu.za</a> <br /><hr class="underline" />
                <i class='fa fas fa-phone'></i> Contact Number: +27 66 214 1946 <br /> <hr class="underline" />
                <a href="#" class="fa fa-instagram"></a> Instagram: KhumaloCrafts

            </p>
        </div>
    </div>

</div>